#header .navbar-brand {
    line-height: 40px;
    padding-top: 24px;
    font-size: 24px;
    max-width: none;
}

.mainTitle{
    top: 54%; 
}

@media (max-width: 953px) {
    #header .navbar-brand {
        padding-top: 15px;
        font-size: 21px;
        max-width: 320px;
    }
}

@media (min-width: 768px) and ( max-width: 800px) {
    #header .navbar-brand {
        font-size: 17px;
    }
}

@media (max-width: 767px) {
    .mainTitle h2 {
        margin: 18px 0 10px 0;
    }
    .pic_section h3 {
        font-size: 1.1em;
        line-height: 1.2em;
    }
}

@media (min-width: 550px) {
    .maindate > h4 {
        font-size: 1.1em;
    }
}

@media (max-width: 550px) {
    .mainTitle h2 {
        margin: 12px 0 10px 0;
    }
}

@media (max-width: 490px) {
    .mainTitle {
        background: #8dd2c8;
        top: 43%;
        font-size: 1.5em;
        width: 89%;
        left: 5.5%;
    }
    .mainTitle h2 {
        margin: 10px 0 15px 0;
    }
    .maindate {
        padding-top: 40px;
    }
}

@media (max-width: 420px) {
    /* 議程文字大小 */
    .pic_section {
        font-size: 15px;
    }
    .pic_section h3 {
        font-size: 20px;
        line-height: 1.2em;
    }
    .maindate {
        padding-top: 60px;
    }
    .maindate h4 {
        line-height: 1.2;
        font-size: 18px;
    }
}

@media (max-width: 375px) {
    .mainTitle {
        top: 43%;
        font-size: 1.4em;
    }
    #header .navbar-brand {
        font-size: 17px;
        padding: 15px 0px 15px 0px;
    }
}

@media (max-width: 320px) {
    .mainTitle {
        top: 38%;
        font-size: 1.3em;
    }
    #header .navbar-brand {
        font-size: 15px;
    }
}


#header {
    position: fixed;
}

.pic_section,
.grey_section {
    padding-top: 30px;
    padding-bottom: 30px;
}

.color_section {
    margin-top: 0px !important;
    padding-top: 0px !important;
}
#about_us p, #about_us ul{
    line-height: 28px;
}
ul.about_ul {
    list-style: none;
}

ul.about_ul li:before {
    content: "\2022";
    font-size: 28px;
    line-height: 1;
    position: relative;
    top: 3px;
    padding-right: 10px;
    margin-left: -20px;
    color: #ef8322;
}
#header .navbar-brand {
    line-height: 40px;
    padding-top: 24px;
    font-size: 23px;
    max-width: none;
}

.mainTitle{
    top: 54%; 
}

@media (max-width: 953px) {
    #header .navbar-brand {
        padding-top: 15px;
        font-size: 19px;
        max-width: 320px;
    }
}

@media (min-width: 768px) and ( max-width: 800px) {
    #header .navbar-brand {
        font-size: 15px;
    }
}

@media (max-width: 767px) {
    .mainTitle h2 {
        margin: 18px 0 10px 0;
    }
    .pic_section h3 {
        font-size: 1.1em;
        line-height: 1.2em;
    }
}

@media (min-width: 550px) {
    .maindate > h4 {
        font-size: 1.1em;
    }
}

@media (max-width: 550px) {
    .mainTitle h2 {
        margin: 12px 0 10px 0;
    }
}

@media (max-width: 490px) {
    .mainTitle {
        background: #8dd2c8;
        top: 43%;
        font-size: 1.5em;
        width: 89%;
        left: 5.5%;
    }
    .mainTitle h2 {
        margin: 10px 0 15px 0;
    }
    .maindate {
        padding-top: 40px;
    }
    #header .navbar-brand {
        font-size: 16px;
        padding: 15px 0px 15px 0px;
    }
}

@media (max-width: 420px) {
    /* 議程文字大小 */
    .pic_section {
        font-size: 15px;
    }
    .pic_section h3 {
        font-size: 20px;
        line-height: 1.2em;
    }
    .maindate {
        padding-top: 60px;
    }
    .maindate h4 {
        line-height: 1.2;
        font-size: 18px;
    }
}

@media (max-width: 375px) {
    .mainTitle {
        top: 43%;
        font-size: 1.4em;
    }
    #header .navbar-brand {
        font-size: 15px;
        padding: 15px 0px 15px 0px;
    }
}

@media (max-width: 320px) {
    .mainTitle {
        top: 38%;
        font-size: 1.3em;
    }
    #header .navbar-brand {
        font-size: 14px;
    }
}


#header {
    position: fixed;
}

.pic_section,
.grey_section {
    padding-top: 30px;
    padding-bottom: 30px;
}

.color_section {
    margin-top: 0px !important;
    padding-top: 0px !important;
}
#about_us p, #about_us ul{
    line-height: 28px;
}
ul.about_ul {
    list-style: none;
}

ul.about_ul li:before {
    content: "\2022";
    font-size: 28px;
    line-height: 1;
    position: relative;
    top: 3px;
    padding-right: 10px;
    margin-left: -20px;
    color: #ef8322;
}
.widget_trafic ul ul li ul li:before {
    font-family: FontAwesome;
    content: '\f00c';
    font-size: 14px;
    top: -1px;
    padding-right: 12px;
    margin-left: -27px;
}
ul.list2{
    font-size: 21px;
}